<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>实战</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="jqueryui/jquery-ui.min.css" rel="stylesheet">

</head>
<body>
<div clas="row">
    <label for="attr" class="col-md-2 control-label">属性形式</label>
    <div class="col-md-2">
        <input type="text" class="form-control" date-picker/>
    </div>
</div>
<div class="row">
    <label for="style" class="col-md-2 control-label">样式形式</label>
    <div class="col-md-2"></div>
    <input type="text" class="form-control date-picker"/>
</div>

<!--3-->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="jqueryui/jquery-ui.min.css"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js-action/app.js"></script>
<script src="js-action/directives.js"></script>
<script src="js-action/controllers.js"></script>

</body>

</html>